html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    color: rgb(33, 140, 255);
    text-decoration: none;
}

#edit-icon, 
#delete-icon {
    color: dimgray;
    padding: 7px;
    font-size: 19px;
}
#edit-icon:hover {
    color: #CC7722;
}
#delete-icon:hover {
    color: #B30000;
}

#delete-icon {
    margin-left: -25px;
}

button {
    color: black;
    font-size: 1.1em;
    background-color: white;
    border: 1px solid #333;
    min-width: 70px;
}